/************************/
/*ZERO CSS*/
/************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;}
:focus {outline: 0;}
body {color: black;background: white;}
ol, ul {list-style: none;}
table {border-collapse: separate;border-spacing: 0;}
caption, th, td {text-align: left;font-weight: normal;}
blockquote:before, blockquote:after,
q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
/**
 * Basic definitions for the editing area.
*/
.Bold{font-weight: bold;}
.Italic{font-style: italic;}
.Underline{text-decoration: underline;}
.StrikeThrough{text-decoration: line-through;}
.Subscript{vertical-align: sub;font-size: smaller;}
.Superscript{vertical-align: super;font-size: smaller;}
/**
 * Font faces.
*/
.FontComic{font-family: 'Comic Sans MS';}
.FontCourier{font-family: 'Courier New';}
.FontTimes{font-family: 'Times New Roman';}
/**
 * Font sizes.
*/
.FontSmaller{font-size: smaller;}
.FontLarger{font-size: larger;}
.FontSmall{font-size: 8pt;}
.FontBig{font-size: 14pt;}
.FontDouble{font-size: 200%;}
/**
 * Font colors.
*/
.FontColor1{color: #ff9900;}
.FontColor2{color: #0066cc;}
.FontColor3{color: #ff0000;}
.FontColor1BG{background-color: #ff9900;}
.FontColor2BG{background-color: #0066cc;}
.FontColor3BG{background-color: #ff0000;}
/**
 * Indentation.
*/
.Indent1{margin-left: 40px;}

.Indent2{margin-left: 80px;}

.Indent3{margin-left: 120px;}
/**
 * Alignment.
*/
.JustifyLeft{text-align: left;}
.JustifyRight{text-align: right;}
.JustifyCenter{text-align: center;}
.JustifyFull{text-align: justify;}
/**
 * Other.
*/
code
{
    font-family: courier, monospace;
    background-color: #eeeeee;
    padding-left: 1px;
    padding-right: 1px;
    border: #c0c0c0 1px solid;
}
kbd
{
    padding: 0px 1px 0px 1px;
    border-width: 1px 2px 2px 1px;
    border-style: solid;
}
blockquote{color: #6a6b6c; padding: 0px 20px; font-weight: bold;}
/*Global*/

body{
    font-family: Tahoma, Geneva, sans-serif;;
    font-size:10pt;
}
b, strong{
    font-weight: bold;
}
a, a:link, a:visited, a:active { text-decoration: none; color: #1eb8cc; }
a:hover {color: #006990; text-decoration: underline}
.inline-block{
    vertical-align: middle;
    display: inline-block;
    *zoom: 1; /* to trigger hasLayout in IE6-7 */
    *display: inline; /* for IE6-7 */
}
.inline-block-top{
    vertical-align: top;
    display: inline-block;
    *zoom: 1; /* to trigger hasLayout in IE6-7 */
    *display: inline; /* for IE6-7 */
}
.inline-block-bottom{
    vertical-align: bottom;
    display: inline-block;
    *zoom: 1; /* to trigger hasLayout in IE6-7 */
    *display: inline; /* for IE6-7 */
}
/************************/
/* End ZERO CSS*/
/************************/
.form-item, .form-actions {
    margin: 0;
}
.element-invisible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    height: 1px;
}
.samsung-bg{
    background-color: #dbcebb;
    background: -moz-radial-gradient(center, ellipse cover,  #feefdf 0%, #dbc9b6 71%, #bba187 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#feefdf), color-stop(71%,#dbc9b6), color-stop(100%,#bba187)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #feefdf 0%,#dbc9b6 71%,#bba187 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #feefdf 0%,#dbc9b6 71%,#bba187 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #feefdf 0%,#dbc9b6 71%,#bba187 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #feefdf 0%,#dbc9b6 71%,#bba187 100%); /* W3C */
    background-attachment: fixed;
    background-repeat: no-repeat;
}
#header, #main-wrapper{
    width: 800px;
    margin: 0 auto;
}
#header{
    padding-top: 40px;
}
#header .section{
    background-image: url('../images/samsung_smart_tv_logo.png');
    background-position: 650px 6px;
    background-repeat: no-repeat;  
}

.contact-page .content-card-wrapper{
    position: relative;
    height: 408px;
}
.contact-page .content-card-wrapper .content-card{
    width: 587px;
    height: 408px;
    position: absolute;
    top:0;
    left: 107px;
    background-image: url('../images/smart-tv-rose2.png');
    background-position: top center;
    background-repeat: no-repeat;
    color: #D3C2AE
}
.contact-page .content-card-wrapper .content-card .content-card-padding{
    padding: 40px 20px;
    padding-bottom: 0;
    position: relative;
    text-align: center;
}

.contact-page .content-card-wrapper .content-card #webform-client-form-1 .form-item input[type=text]{
    margin: 0;
    border: 0 none;
}
.contact-page .content-card-wrapper .content-card #webform-client-form-1 .form-item input[type=text].error{
    border: red 1px solid;
}
#start_btn{
    background-position: -118px -2px;
    display: block;
    height: 80px;
    margin: 0 auto;
    width: 80px;
    font-size: 1px;
}
#start_btn:hover{
    text-decoration: none;
}
#start_btn:hover{
    background-position: -118px -102px;
}
#next_btn{
    background-position: -58px 0px;
    display: block;
    height: 60px;
    margin: 0 auto;
    width: 35px; 
    position: absolute;
    right: 36px;
    top: 150px;
}
#next_btn:hover{
    background-position: -58px -100px; 
}
#prev_btn{
    background-position: 0px 0px;
    display: block;
    height: 60px;
    margin: 0 auto;
    width: 35px; 
    position: absolute;
    left: 36px;
    top: 150px;
}
#prev_btn:hover{
    background-position: 0px -100px; 
}
.form_bg{
    background-image: url('../images/card_c-text_1.png');
    background-repeat: no-repeat;
    background-position: 127px 65px;
    height: 265px;
}
.sprite1{
    background-image: url('../images/sprite.png');
}
#webform-component-your-name,#webform-component-mobile-no,#webform-component-address,#webform-component-address-2,#webform-component-visit-date,#webform-component-visit-time,#edit-actions{
    position: absolute;
}
#webform-client-form-1 #webform-component-your-name input,
#webform-client-form-1 #webform-component-mobile-no input,
#webform-client-form-1 #webform-component-address input{
    height: 20px;
    width: 226px;
    background-color: transparent;
    color: #ffffff;
}
#webform-client-form-1 #webform-component-address-2 input{
    height: 20px;
    width: 295px;
    background-color: transparent;
    color: #ffffff;
}
#webform-client-form-1 #webform-component-your-name{
    left: 205px;
    top: 71px;
}
#webform-client-form-1 #webform-component-mobile-no{
    left: 205px;
    top: 99px;;
}
#webform-client-form-1 #webform-component-address{
    left: 205px;
    top: 128px;;
}
#webform-client-form-1 #webform-component-address-2{
    left: 135px;
    top: 156px;
}
#webform-client-form-1 #webform-component-visit-date{
    left: 165px;
    top: 234px;
}
#webform-component-visit-time{
    left: 165px;
    top: 268px;
}
 #webform-client-form-1 #edit-actions{
    left: 442px;
    top: 224px;
}
 #webform-client-form-1 #edit-actions input[type=submit]{
    font-size: 0px;
    border: none;
    background-image: url('../images/card_c-text_2.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 82px;
    height: 82px;
    cursor: pointer;
}
 #webform-client-form-1 #edit-actions input[type=submit]:hover{
    background-position: 0px -100px; 
}
 #webform-client-form-1 .webform-container-inline label{
    margin-right: 0;   
}
.overlay{
    background:transparent url(../images/overlay.png) repeat top left;
    background:rgba(0,0,0,0.6);
    background:-moz-radial-gradient(center, rgba(0,0,0,0.2), rgba(0,0,0,0.6));
    background:-webkit-radial-gradient(center, rgba(0,0,0,0.2), rgba(0,0,0,0.6));
    background:-o-radial-gradient(center, rgba(0,0,0,0.2), rgba(0,0,0,0.6));
    background:-ms-radial-gradient(center, rgba(0,0,0,0.2), rgba(0,0,0,0.6));
    background:radial-gradient(center, rgba(0,0,0,0.2), rgba(0,0,0,0.6));
    z-index:2000000;
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:100;
}
.box{
    position:fixed;
    top:-400px;
    left:30%;
    right:30%;
    background-color:#fff;
    color:#7F7F7F;
    padding:20px;
    border:2px solid #ccc;
    -moz-border-radius: 10px;
    -webkit-border-radius:10px;
    -khtml-border-radius:10px;
    -moz-box-shadow: 0 1px 5px #333;
    -webkit-box-shadow: 0 1px 5px #333;
    z-index:101;
}
.box h1{
    border-bottom: 1px dashed #7F7F7F;
    margin:-20px -20px 0px -20px;
    padding:10px;
    background-color:#835746;
    color:#EFEFEF;
    -moz-border-radius:10px 10px 0px 0px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -khtml-border-top-left-radius: 10px;
    -khtml-border-top-right-radius: 10px;
    font-weight: bold
}
.box ul{
    padding-left: 30px;
    list-style: disc outside none;
}
a.boxclose{
    float:right;
    width:26px;
    height:26px;
    background:transparent url(../images/cancel.png) repeat top left;
    margin-top:-30px;
    margin-right:-30px;
    cursor:pointer;
}
a.close-button, a.yes-button,a.no-button {
    background-color: #141414;
    color: #D7C3AF;
    font-size: 1.3em;
    font-weight: bold;
    margin: 0 5px;
    padding: 5px 15px;
}
a.yes-button:hover,a.no-button:hover {
    background-color: #E3E65B;
    color: #6A808C;
}
.msg-action{
    text-align: right;
}
.system-page{
    padding-top: 30px;
}
.footer_text{
    font-size: 1.4em;
    margin: 0px 0px;
    text-align: center;
}
.samsung-callcenter{
    background-image: url("../images/sprite.png");
    background-position: 1px -250px;
    background-repeat: no-repeat;
    height: 95px;
    position: absolute;
    right: 5px;
    top: 333px;
    width: 95px;
}
.page-node-2 .samsung-callcenter{
    display: none;
}